/*******************************
* _HEADER
* SCSS
********************************/

header {
  // user plant list
  background: olivedrab;
  box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.3);
  position: fixed;
  margin: 0 auto;
  color: white;
  width: 100%;
  transition: .5s ease;
  top: 75px;
  &:hover {
    .user-plants--span {
      margin-top: 38px;
    }
  }
  div {
    background: white;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.3);
    position: fixed;
    width: 100%;
    top: 0;
  }
  span {
    width: 100%;
    margin-top: 32px;
    display: block;
    text-align: center;
    transition: .5s ease;
    position: static;
    cursor: pointer;
  }
}

nav {
  margin-left: 30px;
  display: inline-flex;
  color: olivedrab;
  margin-bottom: 10px;
  text-shadow: 0px 0px 5px rgba(0,0,0,0.4);
  &:hover {
    text-shadow: 0px 0px 8px rgba(25,60,15,0.5);
    font-weight: bold;
    cursor: pointer;
  }
  img {
    margin-top: 35px;
    width: 50px;
    height: 50px;
  }
  h1 {
    margin: 0;
    margin-top: 35px;
    font-size: 3em;
  }
  span {
    margin-top: 15px;
    width: 1px;
    font-size: 17px;
    word-wrap: break-word;
    line-height: 15px;
    text-align: center;
    h1 {
      margin: 0;
      line-height: 40px;
    }
  }
}
